<div class="user-separator all-users <%=class_for(user)%>">
  <hr class="line-separator" />
  <div>
    <%= "User #{user.number}: #{user.completed} completed at #{user.percent_complete}%" %>
  </div>
  <table class='todo-table'>
    <tr class="header-row">
      <th> Title </th>
      <th> Completed </th>
    </tr>
    <% user.todos.order(:completed).each do |todo| %>
      <tr>
        <td>
          <%= todo.title %>
        </td>
        <td>
          <%= todo.completed %>
        </td>
      </tr>
    <% end %>
  </table>
</div>