
.top {
  margin: 30px;
}

.container {
  margin-left: 30px;
}

.todo-table {
  margin-left: 20px;
}

.user-separator {
  margin-top: 20px;
}

.line-separator {
  height:1px;
  border-top:1px 
  solid black; 
}